<div class="container pt-4">
    <h3>User List</h3>
    <div class="pt-2 pb-4 search-container">
        <div class="row g-0">
          <div class="col-6">
            <span class="material-icons search">
              search
            </span>
            <input 
                type="search" 
                placeholder="Search users"
                class="py-2"
                id="search"
                [(ngModel)]="searchTerm"
                (ngModelChange)="onSearchChange(searchTerm)"
            >
          </div>

          <div class="col-6">
            <div class="dropdown">
              <div class="row">
                <div class="col-3">
                  <i class="bi bi-sliders px-2 slider" (click)="toggleDropdown()"></i>
                </div>
                <div class="col-3">
                  <select class="form-select" name="users" id="users" *ngIf="isDropdownOpen" (blur)="closeDropdown()">
                    <option value="name" (click)="toggleFilter('name')">Name</option>
                    <option value="nickname" (click)="toggleFilter('nickname')">Nickname</option>
                    <option value="email" (click)="toggleFilter('email')">Email Address</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="row gx-4 gy-2">
        <div class="col-md-6 col-lg-4" *ngFor="let user of (searchUsers.length > 0 ? searchUsers : users)">
            <div class="card mb-3 p-0 shadow bg-body rounded" style="max-width: 540px;">
                <div class="row g-0">
                  <div class="col-4 p-2">
                    <img src="https://robohash.org/{{ user.name }}?size=200x200" class="img-fluid rounded-circle" alt="{{user.name}}">
                    <!-- <img src="https://unsplash.com/s/photos/profile-pictures/"> -->
                  </div>
                  <div class="col-8 align-self-center">
                    <div class="card-body">
                      <h5 class="card-title">{{ user.name }}</h5>
                      <p class="card-text">{{user.email}}</p>
                    </div>
                  </div>
                </div>
                <a 
                    [routerLink]="['/view-details', user.id]" 
                    (click)="viewUser(user.id)"
                    class="detail-link mx-4">
                    View Details
                </a>
            </div>
        </div>
    </div>
</div>