.cover-photo{
    background-image: url("https://plus.unsplash.com/premium_photo-1668157444317-e12e645899f0?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MjF8fG1vdW50YWluJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D");
    min-height: 40vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.profile-picture{
    position: absolute;
    top: 160px;
    left: 90px;
    
}
.profile-picture img{
    border-radius: 50%;
    border: 10px solid white;
    background-color: gray;
    width: 250px;
    height: 250px;
}

.blue-text{
    color: rgb(8, 8, 99);
}

.cover{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.profile-text{
    margin-top: 80px;
    padding-left: 80px;
    padding-bottom: 70px;
    border-bottom: 1px solid rgb(210, 206, 206);
}

.location{
    padding-left: 30px;
    padding-top: 50px;
    border: 1px solid rgb(210, 206, 206);
}
.company-details{
    display: flex;
}

.comp{
    margin-left: 40px;
}


@media only screen and (max-width: 568px) {
    .cover{
        grid-template-columns: repeat(1, 1fr);
    }
}